USE [master]
GO
/****** Object:  Database [SMARTMKT]    Script Date: 09/10/2014 07:28:41 ******/
CREATE DATABASE [SMARTMKT] ON  PRIMARY 
( NAME = N'SMARTMKT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SMARTMKT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMARTMKT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SMARTMKT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMARTMKT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMARTMKT]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 09/10/2014 07:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASEÑA] [nvarchar](50) NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
	[EDAD] [int] NOT NULL,
	[IDGRUPOEDAD] [int] NOT NULL,
	[NIVEL] [int] NOT NULL,
	[PUNTOS] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PREGUNTASXUSUARIO]    Script Date: 09/10/2014 07:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PREGUNTASXUSUARIO](
	[IDPREGUNTA] [int] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PREGUNTASXUSUARIO] PRIMARY KEY CLUSTERED 
(
	[IDPREGUNTA] ASC,
	[USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PREGUNTA]    Script Date: 09/10/2014 07:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREGUNTA](
	[IDPREGUNTA] [int] NOT NULL,
	[PREGUNTA] [nvarchar](200) NOT NULL,
	[OPCION1] [nvarchar](200) NOT NULL,
	[OPCION2] [nvarchar](200) NOT NULL,
	[OPCION3] [nvarchar](200) NOT NULL,
	[OPCION4] [nvarchar](200) NOT NULL,
	[CLAVE] [int] NOT NULL,
	[IDCATEGORIA] [nchar](10) NULL,
	[IDGRUPOEDAD] [int] NOT NULL,
	[FLGELIMINADO] [bit] NOT NULL,
 CONSTRAINT [PK_PREGUNTA] PRIMARY KEY CLUSTERED 
(
	[IDPREGUNTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPOEDAD]    Script Date: 09/10/2014 07:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOEDAD](
	[IDGRUPOEDAD] [int] NOT NULL,
	[EDADINICIAL] [int] NOT NULL,
	[EDADFINAL] [int] NOT NULL,
 CONSTRAINT [PK_GRUPOEDAD] PRIMARY KEY CLUSTERED 
(
	[IDGRUPOEDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 09/10/2014 07:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDCATEGORIA] [int] NOT NULL,
	[NBRCATEGORIA] [nchar](10) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
