USE [master]
GO
/****** Object:  Database [SMARTMKT]    Script Date: 09/14/2014 10:49:30 ******/
CREATE DATABASE [SMARTMKT] ON  PRIMARY 
( NAME = N'SMARTMKT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SMARTMKT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMARTMKT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SMARTMKT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMARTMKT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMARTMKT]
GO
/****** Object:  Table [dbo].[GRUPOEDAD]    Script Date: 09/14/2014 10:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOEDAD](
	[IDGRUPOEDAD] [int] IDENTITY(1,1) NOT NULL,
	[EDADINICIAL] [int] NOT NULL,
	[EDADFINAL] [int] NOT NULL,
 CONSTRAINT [PK_GRUPOEDAD] PRIMARY KEY CLUSTERED 
(
	[IDGRUPOEDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GRUPOEDAD] ON
INSERT [dbo].[GRUPOEDAD] ([IDGRUPOEDAD], [EDADINICIAL], [EDADFINAL]) VALUES (1, 5, 10)
INSERT [dbo].[GRUPOEDAD] ([IDGRUPOEDAD], [EDADINICIAL], [EDADFINAL]) VALUES (2, 11, 16)
INSERT [dbo].[GRUPOEDAD] ([IDGRUPOEDAD], [EDADINICIAL], [EDADFINAL]) VALUES (3, 17, 25)
SET IDENTITY_INSERT [dbo].[GRUPOEDAD] OFF
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 09/14/2014 10:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDCATEGORIA] [int] NOT NULL,
	[NBRCATEGORIA] [nchar](10) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 09/14/2014 10:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASEÑA] [nvarchar](50) NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
	[FECNACIMIENTO] [date] NULL,
	[CORREO] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USUARIO] ([USUARIO], [CONTRASEÑA], [NOMBRE], [FECNACIMIENTO], [CORREO]) VALUES (N'PPerez21', N'123456783', N'Pedro', CAST(0x6B1D0B00 AS Date), N'pedro@gmail.com')
/****** Object:  Table [dbo].[PREGUNTA]    Script Date: 09/14/2014 10:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PREGUNTA](
	[IDPREGUNTA] [int] NOT NULL,
	[PREGUNTA] [nvarchar](200) NOT NULL,
	[OPCION1] [nvarchar](200) NOT NULL,
	[OPCION2] [nvarchar](200) NOT NULL,
	[OPCION3] [nvarchar](200) NOT NULL,
	[OPCION4] [nvarchar](200) NOT NULL,
	[CLAVE] [int] NOT NULL,
	[IDCATEGORIA] [int] NOT NULL,
	[NIVEL] [int] NOT NULL,
	[DIFICULTAD] [char](1) NOT NULL,
	[FLGELIMINADO] [bit] NOT NULL,
 CONSTRAINT [PK_PREGUNTA] PRIMARY KEY CLUSTERED 
(
	[IDPREGUNTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 09/14/2014 10:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERFIL](
	[IDPERFIL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](120) NOT NULL,
	[FECNACIMIENTO] [date] NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[NIVEL] [int] NOT NULL,
	[PUNTOS] [int] NOT NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[IDPERFIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PERFIL] ON
INSERT [dbo].[PERFIL] ([IDPERFIL], [NOMBRE], [FECNACIMIENTO], [USUARIO], [NIVEL], [PUNTOS]) VALUES (1, N'Pedro', CAST(0x6B1D0B00 AS Date), N'PPerez21', 2, 20)
INSERT [dbo].[PERFIL] ([IDPERFIL], [NOMBRE], [FECNACIMIENTO], [USUARIO], [NIVEL], [PUNTOS]) VALUES (2, N'Maria', CAST(0xB61A0B00 AS Date), N'PPerez21', 3, 45)
SET IDENTITY_INSERT [dbo].[PERFIL] OFF
/****** Object:  ForeignKey [FK_PREGUNTA_CATEGORIA]    Script Date: 09/14/2014 10:49:33 ******/
ALTER TABLE [dbo].[PREGUNTA]  WITH CHECK ADD  CONSTRAINT [FK_PREGUNTA_CATEGORIA] FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([IDCATEGORIA])
GO
ALTER TABLE [dbo].[PREGUNTA] CHECK CONSTRAINT [FK_PREGUNTA_CATEGORIA]
GO
/****** Object:  ForeignKey [FK_PERFIL_USUARIO]    Script Date: 09/14/2014 10:49:33 ******/
ALTER TABLE [dbo].[PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_PERFIL_USUARIO] FOREIGN KEY([USUARIO])
REFERENCES [dbo].[USUARIO] ([USUARIO])
GO
ALTER TABLE [dbo].[PERFIL] CHECK CONSTRAINT [FK_PERFIL_USUARIO]
GO
